################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/P4/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
